{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<div class="authentication">
    <div class="container-3">
         <span class="ye-note">
            yeNote
          </span>
        <span class="registration-auth">
          Вхід
          </span>
        <form class="all-inputs">
            <div class="reg-auth-input-group">
                <label>
                    Електронна пошта
                </label>
                <input class="reg-auth-input" type="email" required placeholder="yenote@example.com"/>
            </div>
            <div class="reg-auth-input-group">
                <label>
                    Пароль
                </label>
                <input class="reg-auth-input" type="password" required placeholder="&middot&middot&middot&middot&middot&middot&middot"/>
            </div>
        </form>
        <input class="container-2-1" type="submit" value="Увійти" />
    </div>
</div>
</body>
{% endblock %}