{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<div class="desktop-1">
    <div class="container-6">
        <img class="container-4" src="поки нема"/>
        <div class="text-head">
            <div class="text">
                Text
            </div>
            <div class="text">
                Text
            </div>
            <div class="container-1">
            <span class="important">
            Important
            </span>
            </div>
        </div>
    </div>
    <div class="container-7">
          <span class="ye-note">
            yeNote
          </span>
        <span class="test-your-knowledge">
          Test your knowledge!
          </span>
         <picture>
        <img src="../static/yeNote.png" width="412" height="354"/>
              </picture>
        <button class="container-2">
                <span class="show-all-tests">
                Show all tests
                </span>
        </button>
    </div>
    <div class="group-5">
        <div class="group-1">
            <div class="rectangle-44">
            </div>
            <span class="category">
                    Визначення</br>
                    нот в нотному стані
                    </span>
        </div>
        <div class="group-1">
            <div class="rectangle-44">
            </div>
            <span class="category">
                    Визначення</br>
                    нот в нотному стані
                    </span>
        </div>
        <div class="group-1">
            <div class="rectangle-44">
            </div>
            <span class="category">
                    Визначення</br>
                    нот в нотному стані
                    </span>
        </div>
        <div class="group-1">
            <div class="rectangle-44">
            </div>
            <span class="category">
                    Визначення</br>
                    нот в нотному стані
                    </span>
        </div>
    </div>
            <div class="group-2">
              <div class="container-5">
                <span class="container-4">
                Зв’яжіться з нами:<br />
                samotnicapibary@poshta.com
                </span>
                <span class="container-4">
                © 2024 “Самотні капібари”
                </span>
              </div>
              <img class="ellipse-2" src="../assets/vectors/ellipse_24_x2.svg" />
            </div>
</div>
</body>
<script src="/static/js/script.js"></script>
{% endblock %}