{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<div class="desktop-1">
    <div class="container-7">
          <span class="ye-note">
            yeNote
          </span>
        <span class="test-your-knowledge">
          Протестуй свої знання!
          </span>
         <picture>
        <img src="../static/yeNote.png" width="412" height="354"/>
              </picture>
        <button class="container-2">
                <span class="show-all-tests">
                Усі категорії
                </span>
        </button>
    </div>
    <div class="group-5">
        <div class="group-1" id="0">
<!--            <div class="rectangle-44">-->
<!--                 <picture>-->
<!--                    <img src="../static/intervals-1.png"/>-->
<!--              </picture>-->
<!--            </div>-->
            <span class="category">
                    Визначення</br>
                    інтервалів
                    </span>
        </div>
        <div class="group-1" id="1">
<!--            <div class="rectangle-44">-->
<!--                <picture>-->
<!--                    <img src="../static/major-minor-1.png"/>-->
<!--              </picture>-->
<!--            </div>-->
            <span class="category">
                    Визначення</br>
                    мінор чи мажор
                    </span>
        </div>
        <div class="group-1" id="2">
<!--            <div class="rectangle-44">-->
<!--                <picture>-->
<!--                    <img src="../static/lad-1.png"/>-->
<!--              </picture>-->
<!--            </div>-->
            <span class="category">
                    Визначення</br>
                    діатонічних ладів
                    </span>
        </div>
        <div class="group-1" id="3">
<!--            <div class="rectangle-44">-->
<!--                <picture>-->
<!--                    <img src="../static/notes-1.png"/>-->
<!--              </picture>-->
<!--            </div>-->
            <span class="category">
                    Визначення</br>
                    нот в нотному стані
                    </span>
        </div>
    </div>
</div>
</body>
<script src="../static/js/index.js"></script>
{% endblock %}