{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<body>
<div class="desktop-1">
    <div class="container-7">
          <span class="ye-note">
            yeNote
          </span>
        <span class="test-your-knowledge">
          Протестуй свої знання!
          </span>
         <picture>
        <img src="../static/yeNote.png" width="412" height="354"/>
              </picture>
        <button class="container-2">
                <span class="show-all-tests">
                Усі категорії
                </span>
        </button>
    </div>
    <p style="font-weight: 600; font-size: 42px; margin-bottom: 20px">Тренувальні тести</p>
    <div class="group-5">
        <div class="group-1" id="0">
            <span class="category">
                    Інтервали
                    </span>
        </div>
        <div class="group-1" id="1">
            <span class="category">
                    Мінор чи мажор?
                    </span>
        </div>
        <div class="group-1" id="2">
            <span class="category">
                    Діатонічні лади
                    </span>
        </div>
        <div class="group-1" id="3">
            <span class="category">
                    Нотний стан
                    </span>
        </div>
    </div>
    <div style="width: 85%; display: flex; margin-bottom: 150px; align-items: center; justify-content: space-between">
        <picture>
        <img class="yenote-instruction" src="../static/new_yenote.png" width="396" height="411"/>
              </picture>
        <div class="text-instruction">
            <p>Уперше на сайті?</p>
            <p style="font-weight: 700; margin-left: 80px">Ознайомтеся з інструкцією!</p>
            <button class="container-2" style="width: 350px; margin: 30px auto">
                <span class="instruction">
                Інструкція
                </span>
        </button>

        </div>
    </div>
</div>
</body>
<script src="../static/js/index.js"></script>
{% endblock %}