{% extends "base.html" %}
{% block title %}profile{% endblock %}
{% block content %}
<body class="profile">
<div style="width: 100%; display: flex; gap: 30px">
    <div class="left-container">
        <p>
            Викладач
        </p>
        <p style="margin-top: 12px">
        <p>
            Еван Пітерс
        </p>
        <p class="poshta">
            samotnicapibary@poshta.com
        </p>
    </div>
    <div class="right-container">
        <div class="info">
            <p>
                Мої тести
            </p>
        </div>
        <div class="info">
            <p>
                Статистика
            </p>
        </div>
    </div>
</div>
</body>
<script src="/static/js/script.js"></script>
{% endblock %}