{% extends "base.html" %}
{% block title %}profile{% endblock %}
{% block content %}
<body class="profile">
<div style="width: 100%; display: flex; gap: 30px">
    <div class="left-container">
        <p id="role"></p>
        <p style="margin-top: 12px">
        <p class="full-name"></p>
        <p class="poshta"></p>
    </div>
    <div class="right-container">
        <div class="info">
            <p class="name">
                Мої тести
            </p>
        </div>
        <div class="info" style="display: flex; flex-direction: row; align-items: center">
            <div style="width: 70%;">
                <p class="name">
                    Статистика
                </p>
                <p>
                    Загальна кількість пройдених тестів: 500
                </p>
                <p>
                    Загальна кількість правильних відповідей: 400
                </p>
                <p class="name-1">
                    Кількість правильних відповідей за категоріями:
                </p>
                <p>
                    Визначення інтервалів: 75 з 100
                </p>
                <p>
                    Визначення мажор/мінор: 75 з 100
                </p>
                <p>
                    Визначення діатонічних ладів: 75 з 100
                </p>
                <p>
                    Визначення нот у нотному стані: 75 з 100
                </p>
                </div>
                <canvas id="myPieChart" width="500" height="500"></canvas>
            </div>

    </div>
</div>
</body>
<script src="../static/js/profile.js"></script>
{% endblock %}