{% extends "base.html" %}
{% block title %}profile{% endblock %}
{% block content %}
<body class="profile">
<div style="width: 100%; display: flex; gap: 30px">
    <div class="left-container">
        <p id="role"></p>
        <p style="margin-top: 12px">
        <p class="full-name" style="width:min-content; text-align: center;"></p>
        <p class="poshta"></p>
    </div>
    <div class="right-container">
        <div class="info" id="my-tasks">
            <p class="name">
                Мої тести
            </p>
        </div>
        <div class="info" id="statistics" style="display: flex; flex-direction: row; align-items: center">
            <div id="statistics-text" style="width: 70%;">
                <p class="name">
                    Статистика
                </p>
                </div>
                <canvas id="myPieChart" width="500" height="500"></canvas>
            </div>

    </div>
</div>
</body>
<script src="../static/js/questions.js"></script>
<script src="../static/js/profile.js"></script>
{% endblock %}