{% extends "base.html" %}
{% block title %}Task{% endblock %}
{% block content %}
<div class="desktop-2">
    <div class="container-6-1">
        <img class="container-4" src="поки нема"/>
        <div class="text-head">
            <div class="text-1">
                Text
            </div>
            <div class="text-1">
                Text
            </div>
            <div class="container-1-1">
            <span class="important-1-1">
            Important
            </span>
            </div>
        </div>
    </div>

    <div class="piano">
        <!-- Велика октава -->
        <div class="key white" data-note="C2"></div>
        <div class="key black" data-note="Cs2"></div>
        <div class="key white" data-note="D2"></div>
        <div class="key black" data-note="Ds2"></div>
        <div class="key white" data-note="E2"></div>
        <div class="key white" data-note="F2"></div>
        <div class="key black" data-note="Fs2"></div>
        <div class="key white" data-note="G2"></div>
        <div class="key black" data-note="Gs2"></div>
        <div class="key white" data-note="A2"></div>
        <div class="key black" data-note="As2"></div>
        <div class="key white" data-note="B2"></div>

        <!-- Мала октава -->
        <div class="key white" data-note="C3"></div>
        <div class="key black" data-note="Cs3"></div>
        <div class="key white" data-note="D3"></div>
        <div class="key black" data-note="Ds3"></div>
        <div class="key white" data-note="E3"></div>
        <div class="key white" data-note="F3"></div>
        <div class="key black" data-note="Fs3"></div>
        <div class="key white" data-note="G3"></div>
        <div class="key black" data-note="Gs3"></div>
        <div class="key white" data-note="A3"></div>
        <div class="key black" data-note="As3"></div>
        <div class="key white" data-note="B3"></div>

        <!-- Перша октава -->
        <div class="key white" data-note="C4"></div>
        <div class="key black" data-note="Cs4"></div>
        <div class="key white" data-note="D4"></div>
        <div class="key black" data-note="Ds4"></div>
        <div class="key white" data-note="E4"></div>
        <div class="key white" data-note="F4"></div>
        <div class="key black" data-note="Fs4"></div>
        <div class="key white" data-note="G4"></div>
        <div class="key black" data-note="Gs4"></div>
        <div class="key white" data-note="A4"></div>
        <div class="key black" data-note="As4"></div>
        <div class="key white" data-note="B4"></div>

        <!-- Друга октава -->
        <div class="key white" data-note="C5"></div>
        <div class="key black" data-note="Cs5"></div>
        <div class="key white" data-note="D5"></div>
        <div class="key black" data-note="Ds5"></div>
        <div class="key white" data-note="E5"></div>
        <div class="key white" data-note="F5"></div>
        <div class="key black" data-note="Fs5"></div>
        <div class="key white" data-note="G5"></div>
        <div class="key black" data-note="Gs5"></div>
        <div class="key white" data-note="A5"></div>
        <div class="key black" data-note="As5"></div>
        <div class="key white" data-note="B5"></div>

        <!-- Третя октава -->
        <div class="key white" data-note="C6"></div>
        <div class="key black" data-note="Cs6"></div>
        <div class="key white" data-note="D6"></div>
        <div class="key black" data-note="Ds6"></div>
        <div class="key white" data-note="E6"></div>
        <div class="key white" data-note="F6"></div>
        <div class="key black" data-note="Fs6"></div>
        <div class="key white" data-note="G6"></div>
        <div class="key black" data-note="Gs6"></div>
        <div class="key white" data-note="A6"></div>
        <div class="key black" data-note="As6"></div>
        <div class="key white" data-note="B6"></div>

        <div class="key white" data-note="C7"></div>
    </div>

    <div class="container-start-test">
        <span class="test-name">
        Name of category or test
        </span>
        <span class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </span>
        <div class="start_button">
            <button>Start Quiz</button>
        </div>
    </div>
    <div class="quiz_box" style="display: none;">
        <section>
            <div class="que_text"></div>
            <div class="option_list"></div>
        </section>
        <footer class="buttons">
<!--            <button class="exit_btn">End</button>-->
            <button class="next_btn">Next</button>
        </footer>
    </div>

</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.8.37/Tone.js"></script>
<script src="/static/js/questions.js"></script>
<script src="/static/js/script.js"></script>
<script src="/static/js/piano.js"></script>
{% endblock %}