* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    background: linear-gradient(to bottom, #D9E5F5, #EBF3FF);
    scroll-behavior: smooth;
    font-family: 'Montserrat Alternates', sans-serif;
}

::selection {
    color: #fff;
    background: #007bff;
}


section .option_list .option:last-child {
    margin-bottom: 0px;
}

section .option_list .option:hover {
    color: #004085;
    background: #cce5ff;
    border: 2px solid #b8daff;
}

section .option_list .option.correct {
    color: #155724;
    background: #d4edda;
    border: 2px solid #155624;
}

section .option_list .option.incorrect {
    color: #721c24;
    background: #f8d7da;
    border: 2px solid #711c24;
}


section .option_list .option.disabled {
    pointer-events: none;
}

footer {
    height: 60px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid lightgrey;
}

footer button {
    height: 40px;
    padding: 0 13px;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    background: #007bff;
    border: 1px solid #007bff;
    line-height: 10px;
    opacity: 0;
    pointer-events: none;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

footer button:hover {
    background: #0263ca;
}

footer button.show {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
}

header {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10px;
    padding-left: 5rem;
    padding-right: 5rem;
    background-color: unset;
}


header .task {
    background-color: #132245;
}

.container-6 {
    width: 100%;
}


.text {
    display: inline-block;
    flex: 1;
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 1.6rem;
    color: #132245;
    padding-right: 20px;
    padding-left: 20px;
    background-color: unset;
    border: unset;
}

.task .text {
    color: #E5EEFB;
}

.important, .show-all-tests, .task .important {
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 1.5rem;
    color: #F0F4F9;
}


.task .important {
    color: #132245;
}

.text-head {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-1, .container-2, .start_button button {
    flex: 1.5;
    border-radius: 3rem;
    background: #132245;
    position: relative;
    display: flex;
    padding: 0.8rem 0;
    width: 18.9rem;
    height: fit-content;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.task .container-1 {
    background: #E5EEFB;
}

.container-2 {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
}

.container-6 {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.desktop-1 .rectangle-44 {
    border-radius: 2.4rem;
    background: #E5EEFB;
    margin-bottom: 10px;
    width: 18.9rem;
    height: 15rem;
}

.desktop-1 .group-1 {
    cursor: pointer;
    border-radius: 2.4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    box-sizing: border-box;
}

.desktop-1 .container-2 {
    margin-left: 0.1rem;
    text-align: center;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 1.5rem;
    color: #FFFFFF;
}

.group-5, .group-2 {
    background: #132245;
    position: relative;
    margin-bottom: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 5rem;
    width: 100vw;
    box-sizing: border-box;
}

.group-2 {
    height: auto;
    margin-bottom: 0;
    align-items: center;
}

.container-4 {
    align-self: flex-start;
    overflow-wrap: break-word;
    font-weight: 400;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
    color: #FFFFFF;
}

.container-5 {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.ellipse-2 {
    margin: 0.8rem 0;
    width: 5.3rem;
    height: 5rem;
}

/*????????*/
.container {
    max-width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.desktop-1 .container-7 {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin-bottom: 10rem;
}

.desktop-1 .ye-note {
    overflow-wrap: break-word;
    font-family: 'Space Grotesk';
    font-weight: 500;
    font-size: 7rem;
    color: #132245;
}

.desktop-1 .test-your-knowledge {
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 1.4rem;
    color: #3E4349;
    margin-bottom: 20px;
}

.desktop-1 .category {
    overflow-wrap: break-word;
    margin-top: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 1.3rem;
    color: #ffffff;
}

.desktop-1, .task {
    background: linear-gradient(to bottom, #D9E5F5, #EBF3FF);
    display: flex;
    width: 100%;
    padding-top: 0.6rem;
    padding-left: 5rem;
    padding-right: 5rem;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

.task {
    background: #132245;
}


.task .container-start-test, .quiz_box {
    border-radius: 48px;
    background: #E5EEFB;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 5rem;
    padding: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.quiz_box {
    transition: all 0.3s ease;
}

.test-name {
    overflow-wrap: break-word;
    font-weight: 800;
    font-size: 2.5rem;
    color: #132244;
    margin-bottom: 20px;
}

.description {
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 1.2rem;
    color: #132244;
    margin-bottom: 4rem;
}

.start_button button {
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 1.5rem;
    color: #F0F4F9;
    margin: 0;
}

.quiz_box.activeQuiz {
    opacity: 1;
    z-index: 5;
    pointer-events: auto;
}

section .que_text {
    font-size: 2rem;
    font-weight: 500;
}

section .option_list {
    padding: 20px 0px;
    font-weight: 500;
    color: #132245;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

section .option_list .option {
    width: 100%;
    background: #E5EEFB;
    border: 2px solid rgb(25, 47, 96);
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 17px;
    /*margin-bottom: 15px;*/
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.desktop-2 .buttons {
    height: fit-content;
    display: flex;
    justify-content: flex-end
}

.next_btn, .exit_btn {
    margin-top: 10px;
    width: 15rem;
    font-size: 1.5rem;
    overflow-wrap: break-word;
    font-weight: 500;
    color: #F0F4F9;
    border-radius: 3rem;
    background: #132245;
    position: relative;
    display: flex;
    padding: 1.2rem 0;
    height: fit-content;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}

.piano-container {
    display: flex;
    overflow: hidden;
    margin-top: 20px;
    max-height: 0;
    transition: max-height 0.5s ease;
    width: 100%;
}

.piano-container.active {
    max-height: fit-content;
}

.piano {
    display: flex;
    position: relative;
    width: 100%;
}

.key {
    width: 40px;
    height: 200px;
    border: 1px solid #000;
    box-shadow: 0 3px #777;
    cursor: pointer;
    user-select: none;
}

.key.white {
    background-color: #fff;
    z-index: 1;
}

.key.black {
    background-color: #000;
    width: 30px;
    height: 120px;
    margin-left: -15px;
    margin-right: -15px;
    z-index: 2;
    position: relative;
    left: 15px;
    transform: translateX(-50%);
}

.key.black:active {
    transform: translateX(-50%);
}

.key:active {
    box-shadow: 0 0 #777;
    transform: translateY(4px);
}

.key.correct {
    color: #155724;
    background-color: #d4edda;
    border: 2px solid #155624;
}

.key.incorrect {
    color: #721c24;
    background-color: #f8d7da;
    border: 2px solid #711c24;
}

.repeat_simultaneously_btn {
    padding: 0 12px;
    height: 48px;
    font-size: 1.5rem;
    color: white;
    background-color: #132244;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center; /* Center the icon vertically */
    justify-content: center;
}

.repeat_sequently_btn {
    position: relative;
    padding: 0 12px;
    font-size: 1.5rem;
    color: white;
    background-color: #132244;
    border: none;
    border-radius: 5px 0 5px 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    height: 40px;
    align-self: flex-end;
}

.repeat_sequently_btn .inner-icon {
    display: flex;
    align-items: center;
    height: 32px;
}

.repeat_sequently_btn::before,
.repeat_sequently_btn::after {
    content: "";
    position: absolute;
    height: 4px;
    background-color: #132244;
    z-index: -1;
    align-self: flex-end;
    right: 0;
}

.repeat_sequently_btn::before {
    top: -4px;
    width: 67%;
    border-top-left-radius: 5px;
}

.repeat_sequently_btn::after {
    top: -8px;
    width: 33%;
    border-radius: 5px 5px 0 0;
}